# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

# Rider
.idea/

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# NuGet packages
*.nupkg
*.snupkg
.nuget/
packages/

# Azure Functions
local.settings.json

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Logs
*.log
